server {
    listen 80;
    server_name example.com;

    location / {
        root /var/www/html;
        index index.html index.htm;
    }

    location /api {
        proxy_pass http://localhost:8000; # FastAPIなど他のアプリケーションにリダイレクト
    }
}
